.support-table-card{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height: min-content; 

    border: 12px solid #c2c5db ;
    border-radius: 5px;
    /* box-shadow: 9px 11px 35px 18px rgba(0,0,0,0.5); */
    box-shadow:  6px 6px 30px 0px  rgba(0,0,0,0.5);
}
.user-card{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5vh;
    /* width: 16vw; */
    height: 6.5vh;
    border: 5px solid #9097be;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.05);
    border-radius: 10px;
}

.user-icon{

    background-size: 5vh;
    margin-left: 1.5vw;
    width: 5vh;
    height: 5vh;
    border: 3px solid #9097be;
    border-radius: 50%;
}
.text-container{
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
}
.support-type{
    opacity: 0.5;
}
.username{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 2.5vh;
}
.line{
    margin: auto;
    width: 5vw;
    
    border: 2px solid #c2c5db ;
     padding: 0px;
     /* opacity: 0.08; */
}
.marginTop{
    margin-top: 1vh;
}

.marginBottom{
    margin-bottom: 1vh;
}
.checkbox-container{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;
    width: min-content;
    height: min-content; 

    border: 12px solid #c2c5db ;
    border-radius: 5px;
    /* box-shadow: 9px 11px 35px 18px rgba(0,0,0,0.5); */
    box-shadow:  6px 6px 30px 0px  rgba(0,0,0,0.5);
}
.checkbox{
    display: flex;
    flex-direction: row;
    margin: 8px;
    padding: 1px;
    border: 5px solid #c2c5db ;
    border-radius: 10px;
}
.p{
    margin: auto;
    padding: 9px;
    padding-left: 0px;
}
.checkbox:hover{
    cursor: pointer;
    
}
.checkbox:active{
    transform:scale(1.1);
    
}
.table-container{
    align-self: center;
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;
    width: 45vw;
    height: 24vh; 
    
    border: 12px solid #c2c5db ;
    border-radius: 5px;
    /* box-shadow: 9px 11px 35px 18px rgba(0,0,0,0.5); */
    box-shadow:  6px 6px 30px 0px  rgba(0,0,0,0.5);
}
.item{
    display: flex;
    justify-content: space-between;
    margin:auto;
    padding: 5px;
    width: 40vw;
    height: fit-content; 
    margin-top: 7px;
    margin-right: 2vw;
    border: 6px solid #c2c5db ;
    border-radius: 5px;
    /* box-shadow:  6px 6px 30px 0px  rgba(0,0,0,0.5); */
}

.item:hover{
    cursor: pointer;
     transform:scale(1.02);
}
.calender{
    margin: auto;
    padding: 10px;
    border: 15px solid #c2c5db;
    border-radius: 10px;
    width: 90vw;
    margin-top: 1vh;
    min-height:  48vh;
}

.calenderAdmin{
    margin: auto;
    padding: 10px;
    border: 15px solid #c2c5db;
    border-radius: 10px;
    width: 90vw;
    margin-top: 4vh;
    
    
    height:  80vh;
}
.allItems{ 
    display: flex;
    border: 6px solid #c2c5db;
    border-radius: 5px;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    width: -moz-fit-content;
  
}