.aqua{
   
    /* animate the color redo */
    display: flex;
    border-radius: 7px;
    width: fit-content;
    margin: auto;
    padding: 10px;
    justify-content: center;
    height: fit-content;
}


    /* background-color: rgba(123, 151, 234, 0.19); */
.text{
    /* position: absolute; */
    font-size: 20px;
    margin: auto;
  
   
}

.badge-div{
    position: relative;
    display: flex;
}

.badge{
    width: 65px;
    height: 65px;

    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.div-arrow {
    position: absolute;
    bottom: 25px;
    left: 111px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid  rgba(194, 197, 219, 0.7);;
	border-bottom: 5px solid transparent;
}
.hover-info{
    margin-top: 13px;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
  
    color: black;
    border: 3px solid rgba(194, 197, 219, 0.7);

    background-color:rgba(194, 197, 219, 0.23);
    border-radius: 10px;
    height: 50px;
    width: max-content;

}

.movingButtons{
    margin-top: 50px;
    align-items: flex-end;
    margin: auto;
    display: flex;
    height: 42px;
    border: 2px solid black;
    border-radius: 50%;
    width: 42px;
    justify-content: center;
}

.item-container{
    margin: auto;
    border: 15px solid rgba(194, 197, 219, 0.7);
    border-radius: 5px;
    padding: 10px;
display: flex;
flex-direction: column;
width: fit-content;
/* margin: auto; */
margin-top: 1vh;
/* background-color: lightgray; */
align-items: center;
justify-items: center;
}
.item-editor{
    margin: auto;
width: 30vw;
height: fit-content;

}
.item-dates{
    
    margin: 10px;
    display: flex;
  width: fit-content;  
  margin-left: 10px;

}
.date-container{
margin-bottom:10px;
display: flex;
    flex-direction: row;

}
.ganttChart-container{
    margin-top: 17vh;
    margin: 30px;
    height: fit-content;
}
.edit-group{
    display: flex;
    flex-direction: row;    
    /* margin-bottom: 23px; */

}
.buttons{
    display: flex;
    align-self: center;
    margin: 28px;
    margin-bottom: 0;
    
}
.button{
    margin-left: 10px;
    border: 2px solid rgba(194, 197, 219, 0.3);
    border-radius: 5px;
}