
.menu{
    width: fit-content;
    margin-left: 1em;
    margin-right: 1em;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px;
    color: white;
}
.menu:hover{
    cursor: pointer;
    transform: scale(1.2);
}